<div class="container">
<div class="p-1 p-lg-5 mx-auto">
    <h2 class="text-center">About chaincompare.org</h2>
    <p class="p-3">
        ChainCompare (chaincompare.org) is a community research project that collects technical information about 
        blockchains and distributed ledger technologies such as time to finality, block size, consensus algorithm 
        or the supported smart contract languages. Focus is on the <strong>technical</strong> properties of blockchain.
        It was created because this information is sometimes hard to find but should be accessible easily.<br />
        ChainCompare does not have financial data such as price, marketcap or trading volume. This is provided by many 
        other websites.
    </p>

    <h3 class="text-center">Participate</h3>
    <p class="p-3">
        If you want to participate, please check the latest information at the <a href="https://github.com/arminreiter/chaincompare">github repository</a>. 
    </p>
  </div>
</div>