<div class="p-5 pb-md-4 mx-auto">
    <h2 class="text-center">About chaincompare.org</h2>
    <p class="p-3">
        chaincompare.org is a community research project that tries to collect relevant technical data about blockchains 
    and distributed ledger technologies. It does not contain price information, marketcap, trading volume or other financial 
    data. Focus is on the <strong>technical</strong> properties of blockchain.
    </p>

    <h3 class="text-center">Participate</h3>
    <p class="p-3">
        If you want to participate, feel free to create a pull request in the <a href="https://github.com/arminreiter/chaincompare">github repo</a>. 
    </p>
  </div>