
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let chain of chainData" class="col">
        <div class="card bg-dark mb-3 border-secondary pt-1">
            <div class="card-header">
                <a href="#" [routerLink]="['/chain/'] + chain.name">
                <h5 class="d-flex justify-content-middle align-items-middle">
                    <img [src]="chain.logo" height="24px" class="pe-3"> {{chain.name}}
                </h5>
            </a>
            </div>
            <div class="card-body">
                <table class="table table-dark table-striped table-borderless mx-3">
                    <tr><td width="40%">Name:</td><td width="60%">{{chain.name}}</td></tr>
                    <tr><td>Tps:</td><td>{{chain.tps}} tps</td></tr>
                    <tr><td>TTF:</td><td>{{chain.ttf}} sec</td></tr>
                    <tr><td>Block Time:</td><td>{{chain.blockTime}} sec</td></tr>
                    <tr><td>Block Size:</td><td>{{chain.blockSize}} KB</td></tr>
                    <tr><td>Client Language:</td><td>{{chain.clientLanguage}}</td></tr>
                    <tr><td>Consensus:</td><td>{{chain.consensus}}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>