<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none pe-5">
        chaincompare.org
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" [routerLink]="['/']" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="#" [routerLink]="['/table']" class="nav-link px-2 text-white">Table</a></li>
        <li><a href="#" [routerLink]="['/about']" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <form class="col-4 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <a href="https://github.com/arminreiter/chaincompare" type="button" class="btn btn-primary">+ Add chain</a>
      </form>

      <form class="col-8 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Filter data..." aria-label="Search" 
        [(ngModel)]="dataService.search" (input)="onChangeEvent($event)" >
      </form>
    </div>
  </div>
</header>