<div class="card text-white bg-dark mb-3 pt-1 mx-1 mx-lg-5 border-secondary">
    <div class="card-header"><h5 class=""><img [src]="chain.logo" height="24px" class="pe-2"> {{chain.name}}</h5></div>
    <div class="card-body">
        <table class="table table-dark table-striped table-borderless mx-3">
            <tr><td width="40%">Name:</td><td width="60%">{{chain.name}}</td></tr>
            <tr><td>Currency:</td><td>{{chain.currency.name}} ({{chain.currency.symbol}}), {{chain.currency.decimals}} decimals</td></tr>
            <tr><td>Transactions per Second (Tps):</td><td>{{chain.tps}} tps</td></tr>
            <tr><td>Time to Finality (TTF):</td><td>{{chain.ttf}} seconds</td></tr>
            <tr><td>Block Time:</td><td>{{chain.blockTime}} seconds</td></tr>
            <tr><td>Block Size:</td><td>{{chain.blockSize}} KB</td></tr>
            <tr><td>Client Language:</td><td>{{chain.clientLanguage}}</td></tr>
            <tr><td>Consensus:</td><td>{{chain.consensus}}</td></tr>
            <tr><td>Headquarter:</td><td>{{chain.headquarter.city}}, {{chain.headquarter.country}}</td></tr>
            <tr><td>Chain Launch:</td><td>{{chain.chainLaunch}}</td></tr>
            <tr><td>Smart Contract Languages:</td><td>{{chain.smartContractLanguages}}</td></tr>
            <tr><td>EVM Compatible:</td><td>{{chain.evmCompatible}}</td></tr>
            <tr><td>Hash Algorithm:</td><td>{{chain.hashAlgorithm}}</td></tr>
            <tr><td>Type:</td><td>{{chain.type}}</td></tr>
            <tr><td>License:</td><td>{{chain.license}}</td></tr>
            <tr><td>Transaction Model:</td><td>{{chain.txModel}}</td></tr>
            <tr><td>Base Technology:</td><td>{{chain.baseTechnology}}</td></tr>
            <tr><td>Website:</td><td><a href="{{chain.mainSite}}">{{chain.mainSite}}</a></td></tr>
            <tr><td>Source Code:</td><td><a href="{{chain.sourceCode}}">{{chain.sourceCode}}</a></td></tr>
            <tr><td>Block Explorer:</td><td [innerHtml]="link(chain.blockExplorer)"></td></tr>
            <tr><td>Links:</td><td [innerHtml]="link(chain.links)"></td></tr>
            <tr><td>Creator:</td><td>{{chain.creator}}</td></tr>
        </table>

        <p class="card-text">{{chain.description}}</p>

        <div class="text-muted">Last update: {{chain.lastUpdated}}</div>
    </div>
</div>
